doctype html
html
  head
    meta(charset='UTF-8')
    title 1063932 期末作業
    link(type="text/css", rel="stylesheet", href="../css/style.css")
    script(src="../move.js")
    script(src="../odercards.js")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #page
      .pane
        div 首頁
        br
        br
        | 滾動滑鼠 ▶
      .pane
        .hideme 這是一個
      .pane
        .hideme 水平滾動
      .pane
        .hideme &
      .pane
        .hideme 淡出效果
      .pane
        .hideme 的測試網頁
      .pane
        div 首頁
        br
        br
        | 滾動滑鼠 ▶
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
